mat-card{
    position: relative;
    top: 0rem;
    margin: 0 auto;
    display: flex;
    height: 15rem;
    width: 40rem;
    margin-top: 15px;
}
mat-card-content {
    position: absolute;
    top: 35%;
}

mat-label {
    display: flex;
}
input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 50%;
}

.submit {
    width: 150px;
    top: 10px;
    left: 300px;
    
}
.cancel {
    width: 150px;
    top: 10px;
    left: 150px;
}

.btn {
    position: absolute;
    display: flex;
    left: 500px;
    height: 30px;
    margin-top: 30%;
    width: 30px;
}
