<mat-card class="input">
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
          <mat-label>TITLE</mat-label>
          <input matInput matInput type="title" formControlName="title"> 
          <mat-label>MESSAGE</mat-label>
          <textarea matInput type="message" formControlName="message"></textarea>
          <button class="cancel" (click)="cancel()" mat-raised-button>cancel</button>
        <button class="submit" mat-raised-button>submit</button>
      </form>
</mat-card>