
<mat-card class="input">
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
          <mat-label>TITLE</mat-label>
          <input matInput matInput type="title" formControlName="title"> 
          <mat-label>MESSAGE</mat-label>
          <textarea matInput type="message" formControlName="message"></textarea>
        <button class="submit" mat-raised-button>submit</button>
      </form>
</mat-card>
<mat-card *ngFor = "let note of notes">
    <mat-card-header>
        <mat-card-title>{{note.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{note.message}}</mat-card-content>
    <div class="btn">
    <button class="edit" (click)="editNote(note)" mat-raised-button>edit</button>
    <button class="delete" (click)="deleteNote(note)" mat-raised-button>delete</button>
    </div>
</mat-card>