<mat-toolbar>
    <img src="../../../assets/logo.png">
    <a [routerLink]="'/home'" style="text-decoration: none;"><button mat-raised-button>Home</button></a>
    <a [routerLink]="'/note'" style="text-decoration: none;"><button mat-raised-button>Note</button></a>
    <span class="example-spacer"></span>
    <img class="avatar" src="../../../assets/Avatar.png">
    <a class="logout-btn"  style="text-decoration: none;"><button (click)="clicked();" mat-raised-button>LOG OUT</button></a>
    
</mat-toolbar>
  