mat-toolbar {
    
    height: 6rem;
    box-shadow: 0px 4px 20px 0px black;
    border-radius: 0 0 15px 15px;
}

img {
    max-height: 100%;
    max-width: auto;
}
a {
    display: block;
    margin-left: 5rem;
    position: relative;
    height: 3rem;
}
.mat-raised-button {
    display: inline;
    font-size: 24px;
    letter-spacing: 2px;
    background-color: orangered;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    width: 15rem;
    height: 100%;
  }
  .avatar { 
      position: relative;
      right: -4rem;
      border-radius: 50%;
      background-color: orangered;
      max-height: 80%;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  