<mat-card>
    <img src={{url}}>
    <div class="inputSide">
    <p style="font-size: 40px; font-weight: bold; letter-spacing: 2px;">User Register</p>
  
  
  
  
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
  
  
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput matInput type="email" formControlName="email">
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button class="submit" mat-raised-button>Register</button>
  </form>
  
    <p style="font-size: 15px;"><a href="" style="color: gray; text-decoration: none;">You already have an account?</a></p>
  </div>
  
  </mat-card>