.mat-card {
    top: 20rem;
    transform: translateY(-30%);
    display: flex;
    margin: 0 auto;
    height: 35rem;
    width: 60rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgb(0, 0, 0);
  }
  img {
    position: fixed;
    top: 20%;
    left: 15%;
    right: 10%;
    height: 50%;
    width: 32%;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(240, 63, 10) , orange);
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0);
  }
  
  .mat-form-field {
    display: flex;
  }
  
  ::ng-deep .mat-form-field-wrapper {
    margin: 1rem !important;
    padding: 0;
  }
  mat-label , input{
    padding-left: 1rem;
  }
  
  .inputSide {
    position: relative;
    text-align: center;
    font-size: 14px;
    top: 20%;
    left: 55%;
  }
  
  .mat-raised-button {
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 5%;
    background-image: linear-gradient(to right, rgb(255, 115, 0) , yellow);
    color: rgb(255, 255, 255);
    border-radius: 5rem;
    height: 10%;
    width: 100%;
  }